
/* Liste des livraisons */
#livraisons-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#livraisons-list li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Bouton flottant */
.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkslateblue;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.float-button:hover {
    background-color: #219653;
}

/* Popup form */
.popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000; 

    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 450px; /* Largeur maximale du popup */
    text-align: left;
    animation: slideIn 0.3s; /* Animation d'apparition */

    
}

.popup h2 {
    margin: 0 0 15px;
}

.popup label {
    display: block;
    margin: 10px 0 5px;
}

.popup input, .popup select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup button {
    margin-top: 15px;
}

/* Modal de détails de livraison */
#livraisonDetailsModal {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000; /* S'assure que le modal est au-dessus */
}

#livraisonDetailsModal div {
    position: relative;
}

#livraisonDetailsModal #closeDetailsButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Popup de détails */
#detailsPopup {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000; /* S'assure que le popup est au-dessus */
}
